.contactForm {
    font-size:15px;
    font-family:Verdana,sans-serif;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
