#container{
    padding:10px;
    width:100%;
    height:auto;
}
.prod{
    padding:10px;
    height:100%;
    width:100%;
}
#prodLinks{
    width:100px;
    height:100px;
    float:left;
}
#prodRechts{
    width:178px;
    height:100px;
    text-align:center;
    float:left;
}