@charset "utf-8";
body{
    height:100%;
    width:100%;
    margin:0px;
    background-repeat:repeat-x;
    font-family: Verdana,sans-serif;
    font-size:15px;
}
.lihover{

}
.lihover:hover{
    cursor:pointer;
}
#container1{
    margin:auto;
    padding:0px;
    width:1000px;
    height:auto;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 20px #888888;
}
#vulling{
    padding:0px;
    margin:0px;
    width: 1000px;
    height:auto;
    background-color:#F0AD4E;
    float: left;
}
.check {
    float: left;
}
header{
    margin:0px;
    padding:0px;
    width:auto;
    height:120px;
    background-color:#FFFFFF;
    padding-top:10px;
}
footer{
    margin:0;
    padding:0;
    width:1000px;
    height:25px;
    border-top:solid 1px #2D3091;
    background-color:#FFFFFF;
    color:#2D3091;
}
.tableHeader{
    border-top: solid 1px #2D3091;
    width: 1000px;
    text-align: center;
}
.tableHeader td{
    width:200px;
    font-size: 16px;
}
#headerFotoDiv{
    width:100px;
    height: 100px;
    margin:0;
    padding:0;
    float: left;
}
#headerLogindiv{
    width:300px;
    height:100px;
    background-color: #FFFFFF;
    float:left;
    margin-left: 599px;
}

#shoppingCardTable
{
    border:1px solid black;

}

#shoppingCardTableTr
{
    border:1px solid black;
}