* {
    font-family:Verdana;
}

#main {
    width:1000px;
    height:auto;
    background: #f0ad4e;
}

table {
    border-collapse:collapse;
    border:0px solid black;
    padding:0px 2px 0px 2px;
    margin:auto;
}

th {
    padding:2px;
    border:1px solid black;
}

td {
    padding:0px 2px 0px 2px;
}

h1 {
    margin:0px 0px 0px 20px;
}