
#content {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: auto;
    font-family:'Raleway',sans-serif;
    overflow: scroll;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F0AD4E;
}

li {
    float: left;
}

li:last-child {
    border-right: none;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ec971f;
    text-decoration:none;
    color: white;

}

table, th, td {
    border: 1px solid black;
}

body {
    font-family: 'Roboto', sans-serif;
}

table {
    padding-left: 30px;
}

form {
    padding-left: 30px;
}

h1 {
    padding-left: 30px;
}

.floatLi {
    float: right;
}