body {
    font-family:Verdana;
    text-align: center;
}
#content {
    width:1000px;
    margin:auto;
    height: 530px;
}
#titel {
    font-size:28px;
}
#titel2 {
    margin-top:10px;
    font-size:18px;
}
#deel_titel_1 {
    font-size:18px;
    width:450px;
    height:175px;
    margin-top:15px;
    margin-right:50px;
    float:left;
}
#deel_text_1 {
    font-size:12px;
}
#deel_titel_2 {
    font-size:18px;
    width:450px;
    height:175px;
    margin-top:15px;
    margin-right:50px;
    float:left;
}
#deel_text_2 {
    font-size:12px;
}
#deel_titel_3 {
    font-size:18px;
    width:450px;
    height:175px;
    margin-top:15px;
    float:left;
}
#deel_text_3 {
    text-align: left;
    font-size: 12px;
    margin-left: 20px;
}
#tabel_vak {
    font-size:14px;
    width:450px;
    margin-left:50px;
    margin-top:15px;
    margin-right:50px;
    float:left;
}
#titel_vak {
    font-size:18px;
}
#containerrep{
    height:auto;
    width:auto;
}