
#content {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: auto;
    font-family:'Raleway',sans-serif
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0AD4E;
}

li {
    float: left;
}

li:last-child {
    border-right: none;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ec971f;
}

tr, td {
    padding-right: 20px;
}

table {
    border: none;
    padding-left: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h3 {
    padding-left: 30px;
}

.logo {
    padding-left: 30px;
    padding-top: 30px;
}
p {
    margin: 0px;
    padding-left: 30px;
}

img.center {
    display: block;
    margin: 0 auto;
}

.h1Center {
    text-align: center;
    padding-left: 0px;
}
.floatLi {
    float: right;
}

#overzicht {
    width:700px;
}